## CV Example Models for sparse data: Croston

In [1]:
import pandas as pd
import os
os.chdir(os.path.expanduser(".."))
import tslib
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("./data/daily_min_temp.csv")

In [3]:
from tslib import preprocessing,evaluation

In [4]:
from tslib import models

In [5]:
from statsforecast.utils import ConformalIntervals

In [6]:
m = models.CrostonModel(prediction_intervals=ConformalIntervals())

In [7]:
m = m.fit(ts=df.Temp)

In [8]:
proc = preprocessing.CVPreprocessor(start_idx=2000,step_size=180,horizon=365)

In [9]:
eval = evaluation.CrossValidation()

In [10]:
folds = proc.fit(df.Temp)

In [11]:
r = eval.evaluate(folds,m,type='croston')

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 7/7 [00:12<00:00,  1.78s/it]

In [12]:
r1 = r['mae']
r1

     horizon       mae   mae_std   mae_min   mae_max
0          1  2.081147  2.430366  0.044282  6.238520
1          2  2.486408  2.166473  0.418852  6.138520
2          3  2.881314  2.503363  0.208708  6.162350
3          4  3.183510  1.613987  0.976539  5.244282
4          5  3.203307  1.349522  1.318852  5.208708
..       ...       ...       ...       ...       ...
360      361  3.224171  2.006118  0.508708  6.062350
361      362  1.761642  1.807474  0.344282  5.473022
362      363  1.655731  1.106326  0.144282  3.073022
363      364  2.389964  0.775912  1.323461  3.273022
364      365  1.531175  1.291893  0.381148  3.637650

[365 rows x 5 columns]

In [13]:
r2 = r['mape']
r2

     horizon      mape  mape_std  mape_min  mape_max
0          1  0.185662  0.203204  0.004976  0.524245
1          2  0.248880  0.198418  0.048704  0.520214
2          3  0.508990  0.767807  0.013293  2.194386
3          4  0.427992  0.448338  0.093004  1.417374
4          5  0.326940  0.155620  0.138826  0.622302
..       ...       ...       ...       ...       ...
360      361  0.298573  0.175477  0.031794  0.551123
361      362  0.158106  0.148767  0.040033  0.463815
362      363  0.281019  0.353778  0.016396  1.021957
363      364  0.280306  0.162609  0.103395  0.530130
364      365  0.131075  0.102086  0.043747  0.326917

[365 rows x 5 columns]

In [14]:
r3 = r['smape']
r3

     horizon     smape  smape_std  smape_min  smape_max
0          1  0.049807   0.063185   0.001241   0.177619
1          2  0.063116   0.058622   0.012480   0.175773
2          3  0.086436   0.089356   0.003346   0.261586
3          4  0.088152   0.061341   0.022218   0.207378
4          5  0.079282   0.031227   0.037295   0.124109
..       ...       ...        ...        ...        ...
360      361  0.079353   0.047725   0.008077   0.152878
361      362  0.043562   0.049277   0.009812   0.150963
362      363  0.057848   0.060267   0.004066   0.169089
363      364  0.065951   0.032628   0.027258   0.104763
364      365  0.036431   0.031079   0.011181   0.097699

[365 rows x 5 columns]